@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -640px 0
    }
    100% {
        background-position: 640px 0
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -640px 0
    }
    100% {
        background-position: 640px 0
    }
}

.placeholder-wrapper {
    color: #141823;
}

.placeholder-recipe,
.placeholder-crumbshot {
    background: #fff;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 12px;
    margin: 0 auto;
    min-height: 200px;
}

.placeholder-recipe {
    margin-left: 35px;
    margin-right: 30px;
}

.animated-background {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-webkit-anim: ;
    -moz-webkit-anim: ;
    -ms-webkit-anim: ;
    -o-webkit-anim: ;
    webkit-anim: ;ation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 1500px 104px;
    background-size: 1500px 104px;
    height: 300px;
    position: relative;
}

.background-masker {
    background: #fff;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.outlined:hover .background-masker {
    border: none;
}

.outlined:hover .background-masker:hover {
    border: 1px solid #ccc;
    z-index: 1;
}

.background-masker.crumbshot-top,
.background-masker.recipe-second-line,
.background-masker.recipe-third-line,
.background-masker.recipe-fourth-line,
.background-masker.recipe-fifth-line,
.background-masker.recipe-second-end,
.background-masker.recipe-third-end,
.background-masker.recipe-fifth-end,
.background-masker.recipe-first-end {
    top: 0;
    left: 0;
    right: 0px;
    height: 10px;
}


.background-masker.crumbshot-top {
    height: 20px;
    top: 200px;
}

.background-masker.recipe-right-block,
.background-masker.recipe-first-end,
.background-masker.recipe-second-end,
.background-masker.recipe-fourth-end,
.background-masker.recipe-fifth-end,
.background-masker.recipe-third-end {
    width: auto;
    left: 380px;
    right: 0;
    top: 260px;
    height: 20px;
}

.background-masker.recipe-second-line {
    top: 68px;
}

.background-masker.recipe-second-end {
    left: 420px;
    top: 74px;
}

.background-masker.recipe-third-line {
    top: 88px;
}

.background-masker.recipe-third-end {
    left: 220px;
    top: 98px;
}

.background-masker.recipe-fourth-line {
    top: 148px;
}

.background-masker.recipe-fourth-end {
    left: 250px;
    top: 175px;
}

.background-masker.recipe-fifth-line {
    top: 218px;
}

.background-masker.recipe-fifth-end {
    left: 0px;
    top: 265px;
}

.background-masker.recipe-right-block {
    top: 82px;
    height: 300px;
}

.background-masker.recipe-right-end {
    left: 300px;
    top: 388px;
}
