.floatingActionButton {
    position: fixed !important;
    bottom: 30px;
    right: 30px;
    z-index: 3;
}


@media (min-width:640px) {
    .floatingActionButton {
        bottom: 10%;
        right: inherit;
        margin-left:610px
    }
}
