.navLinks {
    display: flex;
    align-items: center;
}

@media (min-width:640px) {

    .appBar {
        padding: 0px 10% !important;
    }

    .authButton {
        margin-left: 100px !important;
    }
}
