
.registerCard {
    margin: 0 auto;
    text-align: center;
}

.registerForm {
    padding:10px;
}

@media (min-width:768px) {
    .registerCard {
        width: 50%;
        height: 50%;
    }

    .registerForm {
        padding:20px 50px;
    }
}

.registerCardTitle {
    text-align: left;
    backgroundColor: #EEE;
}

.registerButton {
    margin-bottom: 20px;
    margin-top: 20px;
}
