html body{
    background-color: #4E342E;
    background-attachment: fixed;
    background: url("breadbg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    height: 100vh;

}

.container {
   display: grid;
   padding: 10px;
   padding-top: 150px;
   justify-self: center;
   align-self: center;
   grid-area: "main";
   grid-template-columns: minmax(200px, 640px);
   grid-template-areas: "main";
}

@media (min-width:640px) {
    .container {
        grid-template-columns: auto 640px auto;
        grid-template-areas: ". main .";
    }

    .main{
        grid-area: main;
    }
}

.toolbar {
    max-height: 32px;
}
